
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container">
    <p class="f-20 text-success">欢迎使用 7tiny Cloud <span class="f-14">v1.0</span> Paas平台！</p>
    <p>登录次数：18 </p>
    <p>上次登录IP：222.35.131.79.1  上次登录时间：2014-6-14 11:19:55</p>
</div>