@using SevenTiny.Cloud.MultiTenantPlatform.Domain.Entity
@{
    ViewData["Title"] = "InterfaceList";
    Layout = "~/Views/Shared/_LayoutHeaderStyle.cshtml";

    List<InterfaceAggregation> entities = ViewData["InterfaceAggregationList"] as List<InterfaceAggregation> ?? new List<InterfaceAggregation>();
    string metaObjectCode = ViewData["MetaObjectCode"] as string;
}
<article class="cl pd-20">
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            <a class="btn btn-secondary-outline radius" href="javascript:history.back(-1);"><i class="Hui-iconfont">&#xe66b;</i> 返回</a>
        </span>
        <span class="r">共有数据：<strong>@entities?.Count</strong> 条</span>
    </div>
    @foreach (var item in entities.OrderBy(t => t.SortNumber).ToList())
    {
        <div class="panel panel-default mt-10">
            <div class="panel-header" style="background-color:#cbe7fc">@item.Code @item.Name</div>
            <div class="panel-body pd-20">
                <div><span>查询接口地址：</span><span>/api/CloudData?metaObjectCode=@metaObjectCode&interfaceCode=@item.Code</span></div>
            </div>
        </div>
    }
</article>

@await Html.PartialAsync($"~/Views/Shared/_FooterScripts.cshtml")
@await Html.PartialAsync("~/Views/Shared/_CommonScript.cshtml")
<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->