@using SevenTiny.Cloud.MultiTenant.Domain.Entity;
@{
    ViewData["Title"] = "Setting";
    Layout = "~/Views/Shared/_LayoutHeaderStyle.cshtml";
    var metaObjectList = ViewData["MetaObjects"] as List<MetaObject> ?? new List<MetaObject>();
    string applicationCode = Convert.ToString(ViewData["Application"]);
    int applicationId = Convert.ToInt32(ViewData["ApplicationId"]);
}

<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        @foreach (var item in metaObjectList)
        {
            <dl id="menu-article">
                <dt><i class="Hui-iconfont">&#xe72d;</i> @item.Name<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li><a href="javascript:mainFrameOpen('/MetaField/List?metaObjectId='+getMetaObjectId())"><i class="Hui-iconfont">&#xe6ec;</i> 字段</a></li>
                        <li><a href="javascript:mainFrameOpen('/Form/List')"><i class="Hui-iconfont">&#xe627;</i> 表单</a></li>
                        <li><a href="javascript:mainFrameOpen('/ListView/List')"><i class="Hui-iconfont">&#xe6f3;</i> 列表</a></li>
                        <li><a href="javascript:mainFrameOpen('/SearchCondition/List')"><i class="Hui-iconfont">&#xe683;</i> 搜索条件</a></li>
                        <li><a href="javascript:mainFrameOpen('/IndexView/List')"><i class="Hui-iconfont">&#xe72b;</i> 视图</a></li>
                        <li><a href="javascript:mainFrameOpen('/Home/Error')"><i class="Hui-iconfont">&#xe616;</i> 详情页</a></li>
                        <li><a href="javascript:mainFrameOpen('/Home/Error')"><i class="Hui-iconfont">&#xe616;</i> 功能按钮</a></li>
                        <li><a href="javascript:mainFrameOpen('/CloudInterface/List')"><i class="Hui-iconfont">&#xe6f1;</i> 自定义接口</a></li>
                        <li><a href="javascript:mainFrameOpen('/TriggerScript/List')"><i class="Hui-iconfont">&#xe6a2;</i> 触发器</a></li>
                    </ul>
                </dd>
            </dl>
        }
    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>

<section class="Hui-article-box">
    <article class="cl pd-20">
        <div class="show_iframe" style="margin-bottom:50px;">
            <div style="display:none" class="loading"></div>
            <iframe id="main_iframe" scrolling="auto" frameborder="0" src="/MetaObject/List?applicationId=@applicationId&applicationCode=@applicationCode"></iframe>
        </div>
    </article>
</section>

@await Html.PartialAsync($"~/Views/Shared/_FooterScripts.cshtml")

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    //在frame中打开页面
    function mainFrameOpen(url) {
        $("#main_iframe").prop("src", url);
    }
</script>