@using SevenTiny.Cloud.MultiTenantPlatform.Core.Entity;
@using SevenTiny.Cloud.MultiTenantPlatform.Core.Enum;
@{
    ViewData["Title"] = "Description";
    Layout = "~/Views/Shared/_LayoutHeaderStyle.cshtml";

    InterfaceAggregation entity = Model as InterfaceAggregation ?? new InterfaceAggregation();
}

<h1>Description</h1>

